* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;    
    padding-top: 120px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}